:root {
  --white: #fff;
  --black: #000;
  --blue: #488ad8;
  --gray33: #333333;
  --gray66: #666666;
  --gray99: #999999;
  --graycc: #cccccc;
  --graye1: #e1e1e1;
  --green: #75cb67;
  --orange: #f08a40;
  --puple: #b174ee;
  --red: #fc817c;

  --roboto: "Roboto", sans-serif;
}
main {
  width: 1224px;
  justify-content: center;
}

.container-top-2 {
  margin-left: 20px;
}
.container-top {
  display: flex;
}
.caption {
  color: #999;
  font-size: 14px;
  line-height: 100%; /* 14px */
  letter-spacing: -0.7px;
  margin-bottom: 5px;
}
.title {
  color: #333;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%; /* 32px */
  letter-spacing: -1.6px;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  word-wrap: nowrap;

  > li:last-child {
    .menu-head {
      border-right: 1px solid #666;
    }
  }
  > li:first-child {
    .menu-head {
      border-left: 1px solid #666;
    }
  }

  .menu-head {
    border-left: 1px solid #e1e1e1;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 13px 67px;

    color: #999;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
  }

  :hover {
    color: #333;

    font-weight: 700;
  }

  .menu-list-ul {
    color: #666;
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 112%; /* 15.68px */
    letter-spacing: -0.7px;

    margin-left: 20px;
    margin-top: 20px;
  }
  .menu-list-li {
    margin-bottom: 10px;
    :hover {
      color: #fc817c;
      font-weight: 700;
      text-decoration-line: underline;
    }
  }
}
.button {
  background: var(--red, #fc817c);
  justify-content: space-between;
  align-items: baseline;
  width: 238px;

  padding: 7.5px 20px;
  display: flex;
  color: #fff;
}

.button-text {
  color: #fff;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}

.btn-rightarrow {
  width: 18px;
  height: 14px;
}

.align-menu {
  display: flex;
}

.search {
  background-color: #4e4e4e;
  background-image: url(/images/ico-search.svg);
  background-position: 98%;
  background-repeat: no-repeat;
  padding: 13px 20px;
  width: 809px;

  font-family: var(--roboto);
  font-size: 16px;
  line-height: 100%; /* 16px */
  letter-spacing: -0.8px;
}
input::-webkit-input-placeholder {
  color: #fff;
}
